<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="master">
<head></head>
<body class="index">
<main layout:fragment="contenido">
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm">
                <!-- Empty column for spacing -->
            </div>
            <div class="col-sm text-center">
                <div class="card card-body" style="background-color: rgb(56, 60, 68);">
                    <h1 class="text-white font-italic" th:if="${session.usuario != null}" style="margin-bottom: 0;">Bienvenido</h1>
                    <h1 class="text-white font-italic" th:text="${session.usuario.nombre}" style="margin-top: 0;"></h1>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
