<!DOCTYPE html>
<html lang="en">
<head th:replace="layouts/encabezado :: encabezado">
  <meta charset="UTF-8">
  <title>Sistema CRM</title>
</head>
<body>
  <div class="container mt-5">
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-5">
          <div class="card card-body">
            <h3 class="text-center">Gracias por su visita</h3>
            <a th:ref="@{/}" class="btn btn-primary mt-3">Inicio</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>