<!DOCTYPE html>


<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="master">
<head>

</head>
<body>

<main layout:fragment="contenido">
  <div class="col-12">
    <h2>Agregar oportunidad</h2>
    <div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)" th:if="${mensaje != null}"
         th:text="${mensaje}"
         class="alert">
    </div>
    <form th:object="${opportunity}" th:action="@{/opportunity/save}" method="post" onsubmit="return validateForm();">
      <div class="form-group">
        <label for="asunto">Asunto de la oportunidad</label>
        <input autocomplete="off" autofocus th:field="*{asunto}" id="asunto"
               placeholder="Escribe el asunto de la oportunidad" type="text"
               class="form-control" th:classappend="${#fields.hasErrors('asunto')} ? 'is-invalid' : ''" required
               title="Debes completar este campo">
        <div class="invalid-feedback" th:errors="*{asunto}"></div>
      </div>

      <div class="form-group">
        <label for="cliente">Cliente</label>
        <select th:field="*{cliente}" id="cliente" class="form-control" required>
          <option value="">Selecciona un cliente</option>
          <option th:each="c : ${clientes}" th:value="${c.id}" th:text="${c.nombre}"></option>

        </select>
      </div>

      <button class="btn btn-success" type="submit">Guardar</button>
      &nbsp;<a class="btn btn-warning" th:href="@{/opportunity/show}">Ver todos</a>

    </form>
  </div>

</main>


</body>
</html>